@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap';

:root {
  --font-family-1: 'Roboto', sans-serif;
  --font-thin: 300;
  --font-thin-italic: var(--font-thin) italic;
  --font-regular: 400;
  --font-regular-italic: var(--font-regular) italic;
  --font-medium: 500;
  --font-bold: 700;

  /* --- */
  --font-size-8: 8px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-32: 32px;
}

$font-family-1: var(--font-family-1);
$font-thin: var(--font-thin);
$font-thin-italic: var(--font-thin-italic);
$font-regular: var(--font-regular);
$font-regular-italic: var(--font-regular-italic);
$font-medium: var(--font-medium);
$font-bold: var(--font-bold);

/* --- */
$font-size-8: var(--font-size-8);
$font-size-12: var(--font-size-12);
$font-size-14: var(--font-size-14);
$font-size-16: var(--font-size-16);
$font-size-18: var(--font-size-18);
$font-size-20: var(--font-size-20);
$font-size-24: var(--font-size-24);
$font-size-32: var(--font-size-32);