:root{
  --size-0: 0px;
  --size-1: 1px;
  --size-2: 2px;
  --size-3: 3px;
  --size-4: 4px;
  --size-5: 5px;
  --size-8: 8px;
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-20: 20px;
  --size-24: 24px;
  --size-28: 28px;
  --size-32: 32px;
  --size-36: 36px;
  --size-40: 40px;
  --size-60: 60px;
}

$size-0: var(--size-0);
$size-1: var(--size-1);
$size-2: var(--size-2);
$size-3: var(--size-3);
$size-4: var(--size-4);
$size-5: var(--size-5);
$size-8: var(--size-8);
$size-12: var(--size-12);
$size-14: var(--size-14);
$size-16: var(--size-16);
$size-20: var(--size-20);
$size-24: var(--size-24);
$size-28: var(--size-28);
$size-32: var(--size-32);
$size-36: var(--size-36);
$size-40: var(--size-40);
$size-60: var(--size-60);