@import './tokens/index';
@import './mixins/index';


* {
  box-sizing: border-box;
  padding: $spacing-0;
  margin: $spacing-0;
}


body {
  font-family: $font-family-1;
  background-color: $background-base;
  color: $text-base;
  transition: background-color $animation-speed-slow;

  & button {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  & a {
    text-decoration: none;
  }
}

.dark-mode body {
  background-color: $background-base-inverse;
  color: $text-base-inverse;
}

.page {
  @include page-padding();
}
